body {
    background-color: rgb(179, 231, 240);
}

h1,
h2 {
    text-align: center;


}

.container {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}


.table {
    font-size: 13px !important;
    border: 5px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    background-color: antiquewhite;
    text-align: center;
    margin: 10px;
}

a {
    text-decoration: none;
}

button {
    background-color: antiquewhite;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.uprContainer {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #878bab;
    padding: 10px 0px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}